    <ul class="side-nav" id="side-nav-menu">
        <li>
            <a class="scrape-articles">Scrape New Articles</a>
        </li>
        <li>
            <a href="/saved" class="saved-articles">Saved Articles</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
    <div class="navbar-fixed">
        <nav class="pink lighten-2">
            <div class="container">
                <div class="nav-wrapper">
                    <a class="brand-logo" href="#">Kpop News</a>
                    <a class="button-collapse left" href="#" data-activates="side-nav-menu">
                        <span class="material-icons">menu</span>
                    </a>
                    <ul class="right hide-on-med-and-down" id="main-menu">
                        <li>
                            <a class="scrape-articles">Scrape New Articles</a>
                        </li>
                        <li>
                            <a href="/saved" class="saved-articles">Saved Articles</a>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col m12">
                <h3 class="center pink-text lighten-2">{{title}}</h3>
            </div>
        </div>
        <div class="row">
            {{#each data}}
            <div class="col m6">
                <div class="card large">
                    <div class="card-image">
                        <img src="{{this.imageURL}}"/> 
                        <span class="card-title overlay">
                        {{this.title}}
                        </span>
                    </div>
                    <div class="card-content">
                        <p>{{this.summary}}</p>
                        <br>
                        <a href="{{this.articleLink}}" target="_blank">View Article</a>
                    </div>
                    <div class="card-action">
                        {{#unless isSaved}}
                            <a href="#" data-id="{{this._id}}" class="save-article">Save Article</a>
                        {{/unless}}
                        {{#if isSaved}}
                            <a href="#" data-id="{{this._id}}" class="remove-saved-article">Remove Article</a>
                        {{/if}}
                           <a data-id="{{this._id}}" class="view-article-note modal-trigger" data-target="modal1">View Notes</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h6>Notes for article id <span id="article-id"></span></h6>
            <div class="divider">
            </div>
            <div id="modal-notes-content">
                
            </div>
            <section class="section">
                <form class="add-note-form">
                    <div class="input-field">
                        <input type="text" id="comment-name" required>
                        <label for="comment-name">Name</label>
                    </div>
                    <div class="input-field">
                        <textarea id="comment-note" class="materialize-textarea" required></textarea>
                        <label for="comment-note">Note</label>
                    </div>
                    <button class="btn pink lighten-2 white-text" id="note-submit-button">Add Note</button>
                </form>
            </section>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn-flat">Close</button>
        </div>
  </div>
</section>