<section class="section">
    <div class="container">
        <div class="row">
            <div class="col m12">
                <h1>Articles</h1>
            </div>
        </div>
        <div class="row">
            {{#each data}}
            <div class="col m6">
                <div class="card large">
                    <div class="card-image">
                        <img src="{{this.imageURL}}"/>
                        <span class="card-title">
                           {{this.title}}
                        </span>
                    </div>
                    <div class="card-content">
                        <p>{{this.summary}}</p>
                        <a href="{{this.articleLink}}" target="_blank">View Article</a>
                    </div>
                    <div class="card-action">
                        {{#unless isSaved}}
                            <a href="#" data-id="{{this._id}}" class="save-article">Save Article</a>
                        {{/unless}}
                        {{#if isSaved}}
                            <a href="#" data-id="{{this._id}}" class="remove-saved-article">Remove From Saved</a>
                        {{/if}}
                           <a data-id="{{this._id}}" class="view-article-note modal-trigger" data-target="modal1">Add a Note</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h6>Notes for article id <span id="article-id"></span></h6>
            <p>A bunch of text</p>
            <div class="divider">
            </div>
            <div class="modal-notes-content">
                a
            </div>
            <form class="add-note-form">
                <div class="input-field">
                    <input type="text" id="comment-name" required>
                    <label for="comment-name">Name</label>
                </div>
                <div class="input-field">
                    <textarea id="comment-note" class="materialize-textarea" required></textarea>
                    <label for="comment-note">Note</label>
                </div>
                <button class="btn pink lighten-2 white-text" id="note-submit-button">Add Note</button>
            </form>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn-flat">Close</button>
        </div>
  </div>
</section>